doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body
        header
            h1=pageTitle
            nav 
                ul 
                    li
                        a(href="/") HOME
                    li 
                        a(href="/videos/upload") UPLOAD
                    li 
                        a(href="/search") SEARCH
                    if !loggedIn
                        li 
                            a(href="/join") JOIN
                        li 
                            a(href="/login") LOGIN
                    else 
                        li
                            a(href="profile") MYPAGE
                        li
                            a(href="logout") LOGOUT
        main
            block content
    include partials/footer
