extends base.pug

block content
    h4 비디오 수정하기
    form(method="POST")
        input(name="title", placeholder="제목을 입력하세요.", value=video.title, required, maxlength=80)
        input(name="description", placeholder="설명을 입력하세요.", value=video.description, required, minlength=10)
        input(name="hashtags", placeholder="해시태그(a, b, c, ...)", required, value=video.hashtags.join())
        input(value="변경", type="submit")

//- form action -> 어느 경로로 form 을 보낼건지. default method 는 GET(url로 전송).
//- 보내고자 하는 form 내 input 에 name 을 주면 url에 name=값 으로 들어간다.
//- 같은 주소 내로 보낼 때는 action 없이 method 만 변경

//- express 에선 videoRouter.post("주소", controller) 과 같은 형식으로 POST 처리 가능.