extends base

block content 
    if errorMessage 
        span.error-message=errorMessage
    
    div.edit-profile
    form(method="POST", enctype="multipart/form-data").form
        label(for="avatar").avatar-label 프로필 사진
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="name", type="text",required, value=loggedInUser.name, placeholder="이름")
        input(name="email", type="email",required, value=loggedInUser.email, placeholder="이메일")
        input(name="location", type="text",required, value=loggedInUser.location, placeholder="지역")
        input(type="submit", value="변경하기")
        if !loggedInUser.socialOnly
            a(href="change-password").change-password-link  비밀번호 변경 &rarr;