extends base
include mixins/video

block content
    div.video-grid.home
        each video in videos
            +video(video)
            //- mixin 호출
        else
            span.empty__message 영상이 존재하지 않습니다 
            

