extends base

block content
    if errorMessage 
        span.error-message=errorMessage
    div 
        video#preview
        button#startBtn 녹화 시작
    p • fetch 이용해 upload form 으로 바로 보내기
    p • 마음에 안들 때 다시 녹화 (srcObject 재설정)

block scripts 
    script(src="/static/js/recorder.js")