extends base

block content
    if errorMessage 
        span.error-message=errorMessage
    div 
        video#preview
        button#startBtn 녹화 시작
        button#downloadBtn 다운로드

block scripts 
    script(src="/static/js/recorder.js")