header
    a(href="/").header__logo
        span.metube METUBE  
        i.fas.fa-hamburger    
    nav  
        ul 
            li 
                a(href="/videos/record").record
                    i.fas.fa-video.fa-3xl
                a(href="/search")
                    i.fas.fa-search
            if !loggedIn
                li 
                    a(href="/join") JOIN
                li 
                    a(href="/login").header__btn LOGIN
            else 
                li 
                    a(href="/videos/upload") UPLOAD
                li
                    a(href=`/users/${loggedInUser._id}`) PROFILE
                li
                    a(href="/users/edit") EDIT
                li
                    a(href="/users/logout") LOGOUT